body {
    margin: 0;
    min-height: 100vh;
    /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee"); */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("bg.jpg");

    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 30px;
    letter-spacing: 2px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    width: 320px;
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    border-radius: 8px;
    text-align: left;
}

.card h2 {
    color: #00e6e6;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background: #444;
    border: none;
    color: white;
    border-radius: 4px;
}

input::placeholder {
    color: #ccc;
}

small {
    color: #bbb;
    font-size: 11px;
}

.radio {
    margin: 10px 0;
}

.checkbox {
    font-size: 13px;
    display: block;
    margin: 10px 0;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #d4a017;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}


.radio {
  display: flex;
  gap: 20px;      
  align-items: center;
  margin: 10px 0;
}

.radio label {
  display: flex;
  align-items: center;
  gap: 5px;       
  color: white;
  font-size: 14px;
}

.checkbox {
  font-size: 13px;
  display: flex;              
  flex-direction: row-reverse;
  align-items: center;        
  gap: 10px;                  
  margin: 10px 0;             
}


.checkbox span {
  white-space: normal;   
  flex: 1;               
}




.btn {
  width: 100%;
  padding: 12px;
  background: #d4a017;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.btn:hover {
  background: #f1b800;
}
